/* AXES */
/* ticks */
.axis line{
stroke: #706f6f;
stroke-width: 0.5;
shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
stroke: #706f6f;
stroke-width: 0.7;
shape-rendering: crispEdges;
}

/* axis text */
.axis text {
fill: #2b2929;
font-family: Georgia;
font-size: 120%;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }

.ghost-line {
fill: none;
stroke: #d2d2d2;
opacity: 0;
stroke-width: 10;
}

.serie_label {
fill: #d2d2d2;
font-family: Georgia;
font-size: 80%;
}